/* Basics */
* { box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-font-smoothing: grayscale; }

/* Fonts */
@font-face { font-family: 'CentraNo1'; font-style: normal; font-weight: 700; src: url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010/CentraNo1-Bold-Italic-Web/CentraNo1-Bold.woff') format('woff'), url('//assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010/CentraNo1-Bold-Italic-Web/CentraNo1-Bold.eot') format('embedded-opentype'); }
@font-face { font-family: 'CentraNo1Book'; font-style: normal; font-weight: 400; src: url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010/CentraNo1-Book-Italic-Web/CentraNo1-Book.woff') format('woff'), url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010/CentraNo1-Book-Italic-Web/CentraNo1-Book.eot') format('embedded-opentype'); }
@font-face { font-family: 'Beckett'; font-style: normal; font-weight: 300; src: url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010/Beckett/A2Beckett-BookWEB.woff') format('woff'); }
@font-face { font-family: 'FCIcon2015'; font-style: normal; font-weight: normal; src: url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010/fc-app-2017/fc-icons/fc-icon11.eot?pa1lh4'); src: url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010/fc-app-2017/fc-icons/fc-icon11.eot?pa1lh4#iefix') format('embedded-opentype'), url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010/fc-app-2017/fc-icons/fc-icon11.ttf?pa1lh4') format('truetype'), url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010/fc-app-2017/fc-icons/fc-icon11.woff?pa1lh4') format('woff'), url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010/fc-app-2017/fc-icons/fc-icon11.svg?pa1lh4#fc-icon11') format('svg'); }
@font-face { font-family: 'GrifoM'; font-style: normal; font-weight: 400; src: url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/grifito/grifoMRegular.otf') }
@font-face { font-family: 'MeretPro'; font-style: normal; font-weight: 300; src: url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010//meret/Meret_SubFC-Book.woff') format('woff'); }
@font-face { font-family: 'MeretPro'; font-style: italic; font-weight: 300; src: url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010//meret/Meret_SubFC-Book_Italic.woff') format('woff'); }
@font-face { font-family: 'MeretPro'; font-style: normal; font-weight: 700; src: url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010//meret/Meret_SubFC-Bold.woff') format('woff'); }
@font-face { font-family: 'MeretPro'; font-style: italic; font-weight: 700; src: url('https://assets.fastcompany.com/multisite_files/fastcompany/static/sites/fonts/201010//meret/Meret_SubFC-Bold_Italic.woff') format('woff'); }

/* Page Structure */
.container { max-width: 1200px; margin: 160px auto 200px; }
#homepage .container { max-width: 912px; margin: 92px auto 200px;}
#article .container { max-width: 1200px; margin: 124px auto 200px;}
#category .container { max-width: 1200px; margin: 124px auto 200px;}
#section .container { max-width: 1200px; margin: 124px auto 200px;}
#search-results .container { max-width: 1200px; margin: 124px auto 200px;}
#error .container { max-width: 1200px; margin: 124px auto 200px;}
footer .container { max-width: 1200px; margin: 0 auto; }

/* Grid Structure for Pages */
.container.sidebar {
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 50px;
}

#article .container.sidebar {
  grid-template-columns: 250px 650px;
}

/* Contact Us Button */
button#contact-us {
  background-color: #474747;
  width: 117px;
  height: 44px;
  font: bold 10px/10px Arial;
  color: #FFFFFF;
  letter-spacing: 2px;
  border: none;
  text-transform: uppercase;
  position: fixed;
  bottom: 25px;
  right: calc((100vw - 1200px) / 2);
}

button#contact-us a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Top Nav */
header {
  width: 100vw;
  height: 80px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc((100vw - 1200px) / 2);
  position: sticky;
  top: 0;
  z-index: 2;
}

header #logo img {
  height: 35px;
}

header #title {
  font: 300 50px/48px 'Beckett';
  letter-spacing: 6.65px;
  text-transform: uppercase;
  color: #FFF;
}

header #search {
  width: 258px;
  border-bottom: 2px solid #CCC;
  position: relative;
}

header #search * {
  outline: none;
}

header #search #query {
  width: calc(100% - 13px);
  background: transparent;
  border: none;
  font: 700 12px/30px 'CentraNo1';
  color: #CCC;
  text-transform: uppercase;
  letter-spacing: 0.96px;
}

header #search button {
  position: absolute;
  top: 5px;
  right: 0;
  border: none;
  background: transparent;
}

header #search button::before {
  content: "\e910";
  font: normal 18px/18px FCIcon2015;
  color: #CCC;
}

header #search #query::placeholder { color: #CCC; opacity: 1; }
header #search #query:-ms-input-placeholder { color: #CCC; }
header #search #query::-ms-input-placeholder { color: #CCC; }

/* Breadcrumbs */
nav#breadcrumbs {
  max-width: 1200px;
  margin: 13px auto 0;
}

nav#breadcrumbs ol {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav#breadcrumbs ol li, nav#breadcrumbs ol li a {
  font: 700 9.5px/9.5px 'CentraNo1';
  letter-spacing: 0.95px;
  color: #5F5F5F;
  text-transform: uppercase;
  text-decoration: none;
}

nav#breadcrumbs ol li:not(:last-child)::after {
  content: '>';
  padding: 0 5px 0 2px;
}

/* Homepage */
/* featured categories */
section.featured-categories {
  margin-bottom: 102px;
}

section.featured-categories h2 {
  font: 700 12px/15px 'CentraNo1';
  letter-spacing: 1.2px;
  color: #5F5F5F;
  margin: 0;
}

section.featured-categories .categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

section.featured-categories .categories .category {
  border-top: 6px solid #CCC;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0 0 0;
  cursor: pointer;
}

section.featured-categories .categories .category:hover {
  border-top: 6px solid #777;
}

/* all categories */
section.all-categories {
  border-top: 3px solid #000;
  padding-top: 10px;
}

section.all-categories .categories .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

section.all-categories .categories .row:not(:first-child) {
  border-top: 1px solid #CCC;
}

section.all-categories .categories .category {
  padding: 15px 0 52px;
}

section.all-categories .categories .category h3 {
  font: 300 50px/50px 'Beckett';
  letter-spacing: 5.75px;
  color: #000;
  margin: 0;
}

section.all-categories .categories .category a {
  display: block;
  font: 400 14px/16px 'CentraNo1Book';
  letter-spacing: 1.4px;
  color: #5F5F5F;
  text-transform: uppercase;
  text-decoration: none;
}

section.all-categories .categories .category a:not(:first-child) {
  margin-top: 12px;
}

/* Category Page */
#category article {
  border-top: 3px solid #000;
  padding-top: 30px;
}

#category article h1 {
  margin: 0;
  font: 300 60px/60px 'Beckett';
  letter-spacing: 6.9px;
  color: #000;
  text-transform: uppercase;
}

#category article .section {
  border-top: 1.25px solid #CCC;
  padding-top: 26px;
  margin-top: 28px;
}

#category article .section h2 {
  font: 700 30px/35px 'GrifoM';
  letter-spacing: 0.75px;
  color: #000;
  margin: 0;
}

#category article .section h2 a {
  color: #000;
  text-decoration: none;
}

#category article .section .articles ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#category article .section .articles ul li {
  margin-top: 15px;
}

#category article .section .articles ul li a {
  font: 400 16px/16px 'CentraNo1Book';
  color: #5F5F5F;
  text-decoration: none;
}

/* Section Page */
#section article {
  border-top: 3px solid #000;
  padding-top: 30px;
}

#section article h1 {
  margin: 0;
  font: 300 60px/60px 'Beckett';
  letter-spacing: 6.9px;
  color: #000;
  text-transform: uppercase;
}

#section article ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#section article ul li {
  margin-top: 15px;
}

#section article ul li a {
  font: 400 16px/16px 'CentraNo1Book';
  color: #5F5F5F;
  text-decoration: none;
}

/* Articles */
/* sidebar */
#article aside {
  border-top: 3px solid #000;
  position: relative;
  top: 10px;
}

#article aside .related-articles {
  border-top: 1px solid #CCCCCC;
  margin-top: 25px;
}

#article aside .related-articles, #article aside .section-articles {
  padding-top: 25px;
}

#article aside h3 {
  font: 700 12px/15px 'CentraNo1';
  letter-spacing: 1.2px;
  color: #5f5f5f;
  margin: 0;
  text-transform: uppercase;
}

#article aside ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#article aside ul li {
  margin-top: 18px;
}

#article aside ul li a {
  font: 400 13px/13px 'CentraNo1Book';
  color: #5F5F5F;
  text-decoration: none;
}

#article aside ul li a.current {
  color: #CCCCCC;
}

/* content */
#article article h1 {
  font: 700 30px/35px 'GrifoM';
  letter-spacing: 0.75px;
  color: #000;
  margin: 0;
}

#article article .article-content {
  font-family: 'MeretPro';
}

#article article .article-content a {
  color: #EF5B24;
  text-decoration: none;
}

/* Search Results */
#search-results article {
  border-top: 3px solid #000;
  padding-top: 30px;
}

#search-results article h1 {
  margin: 0;
  font: 300 60px/60px 'Beckett';
  letter-spacing: 6.9px;
  color: #000;
  text-transform: uppercase;
}

#search-results article h2 {
  font: 700 12px/15px 'CentraNo1';
  letter-spacing: 1.2px;
  color: #5f5f5f;
  margin: 0;
  text-transform: uppercase;
}

#search-results article .results h3 {
  font: 700 30px/35px 'GrifoM';
  letter-spacing: 0.75px;
  color: #000;
  margin: 0;
}

#search-results article .results section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #CCC;
}

#search-results article .results ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#search-results article .results ul li {
  margin-top: 18px;
}

#search-results article .results ul li a {
  font: 400 13px/13px 'CentraNo1Book';
  color: #5F5F5F;
  text-decoration: none;
}

/* Error Page */
#error article {
  border-top: 3px solid #000;
  padding-top: 30px;
}

#error article h1 {
  margin: 0;
  font: 300 60px/60px 'Beckett';
  letter-spacing: 6.9px;
  color: #000;
  text-transform: uppercase;
}

#error article h2 {
  font: 700 12px/15px 'CentraNo1';
  letter-spacing: 1.2px;
  color: #5f5f5f;
  margin: 0;
  text-transform: uppercase;
}

#error article p {
  font: 700 30px/35px 'GrifoM';
  letter-spacing: 0.75px;
  color: #000;
  margin: 30px 0;
}

#error article a {
  font: 700 12px/15px 'CentraNo1';
  letter-spacing: 1.2px;
  color: #EF5B24;
  text-decoration: none;
  margin: 0;
  text-transform: uppercase;
}

/* Pagination */
nav.pagination {
  margin-top: 40px;
}

nav.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav.pagination ul li {
  font: 300 40px/40px 'Beckett';
}

nav.pagination ul li:not(:first-child) {
  margin-left: 20px;
}

nav.pagination ul li a {
  color: #000000;
  text-decoration: none;
}

nav.pagination ul li span {
  color: #EF5B24;
}

/* Footer */
footer {
  margin: 0 0 40px 0;
}

footer .columns {
  max-width: 912px;
  margin: 0 auto 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

footer .columns .column h4 {
  font: 700 12px/15px 'CentraNo1';
  letter-spacing: 1.2px;
  color: #000;
  margin: 0;
}

footer .columns .column ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .columns .column li {
  margin-top: 12px;
}

footer .columns .column li a {
  font: 400 13px/13px 'CentraNo1Book';
  letter-spacing: 0.26px;
  color: #5F5F5F;
  text-decoration: none;
}

footer .columns .column.recent h3, footer .columns .column.popular h3 {
  display: none;
}

footer .links {
  border-top: 3px solid #000;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

footer .links span, footer .links span a {
  font: 400 12px/15px 'CentraNo1Book';
  letter-spacing: 1.2px;
  color: #5F5F5F;
  text-decoration: none;
}

footer .links span:not(:first-child)::before {
  content: '';
  border-left: 1px solid #5F5F5F;
  padding-left: 14px;
  margin-left: 14px;
}

@media (max-width: 1200px) {
  header {
    padding: 0 10px;
  }
}