button#contact-us {
  position: fixed;
  right: 30px;
  bottom: 40px;
  border: 0;
  background: $very-dark-gray;
  width: 117px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms;

  @include font('Arial', 700, 10, 10, 2, $white, true);

  @include mq(mobile) {
    right: 15px;
    bottom: 15px;
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}