<footer>
  <div class="container">
    <section class="columns">
      <div class="column faqs">
        <h4>FAQ</h4>
      </div>

      <div class="column recent">
        <h4>RECENT ARTICLES</h4>
        {{recent_articles}}
      </div>

      <div class="column popular">
        <h4>POPULAR ARTICLES</h4>
      </div>
    </section>

    <section class="links">
      <span>
        <a href="https://www.fastcompany.com/">Home</a>
      </span>

      <span>
        <a href="https://w1.buysub.com/pubs/FC/FST/CustomerCare.jsp?cds_page_id=64012&cds_mag_code=FST&id=1394731410854&lsid=40721223308037080&vid=1">Customer Care</a>
      </span>

      <span>
        Print Subscriber Care: (800) 542-6029
      </span>

      <span>
        <a href="https://www.fastcompany.com/staff-masthead">Masthead</a>
      </span>

      <span>
        <a href="http://www.mansueto.com/privacy.html">Privacy Policy</a>
      </span>

      <span>
        Copyright 2020 Mansueto Ventures
      </span>
    </section>
  </div>
</footer>
