<footer>
  <section id="links">
    <div class="container outer">
      <ul>
        <li>
          {{#link 'help_center'}}Home{{/link}}
        </li>
        
        <li>
          <a href="http://www.inc.com/customercare">Subscriber Care</a>
        </li>
        
        <li>
          <a href="http://www.mansueto.com/privacy.html">Privacy Policy</a>
        </li>
      </ul>

      <div class="copyright">
        Copyright 2020 Mansueto Ventures
      </div>
    </div>
  </section>
</footer>
