<footer>
  <div class="container outer">
    <div class="container inner">
      <section id="columns">
        <div class="column faqs">
          <h4>FAQ</h4>
        </div>

        <div class="column recent">
          <h4>RECENT ARTICLES</h4>
          {{recent_articles}}
        </div>

        <div class="column popular">
          <h4>POPULAR ARTICLES</h4>
        </div>
      </section>
    </div>
  </div>

  <section id="links">
    <div class="container outer">
      <ul>
        <li>
          <a href="https://www.inc.com/">Home</a>
        </li>
        
        <li>
          <a href="http://www.inc.com/customercare">Subscriber Care</a>
        </li>
        
        <li>
          <a href="http://www.mansueto.com/privacy.html">Privacy Policy</a>
        </li>
      </ul>

      <div class="copyright">
        Copyright 2020 Mansueto Ventures
      </div>
    </div>
  </section>
</footer>
