<footer class="footer">
  <div class="footer-inner">

<div id="zeep">
<a href="http://www.fastcompany.com/">Home</a> &nbsp;/&nbsp; <a href="https://w1.buysub.com/pubs/FC/FST/CustomerCare.jsp?cds_page_id=64012&cds_mag_code=FST&id=1394731410854&lsid=40721223308037080&vid=1">Customer Care</a> &nbsp;/&nbsp; <a href="https://www.fastcompany.com/staff-masthead">Masthead</a> &nbsp;/&nbsp; <a href="http://www.mansueto.com//privacy.html">Privacy Policy</a> 
</div>
    
    <div style="align:left; color:white;">Print Subscriber Care: (800)-542-6029</div>
    
  </div>
</footer>
