<header>
  <div class="container">
    <section class="content">
      <div id="logo">
        {{#link 'help_center'}}
          <img src="//inc2.inc.com/img/Inc-logo-black.svg">
          <span>Help Center</span>
        {{/link}}
      </div>

      <div id="search">
        <div class="mobile-close">X</div>
        <section class="search-box">
          <form accept-charset="UTF-8" action="/hc/en-us/search" class="search" method="get" role="search">
            <div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
            <input id="query" name="query" placeholder="Search" type="search" />
            <button></button>
          </form>
        </section>
      </div>

      <div id="mobile-search"></div>
    </section>
  </div>
</header>

<script>
  var search = document.querySelector('header #search');
  document.querySelector('#preview-bar-container').remove();

  if (/^\/hc\/\D{2,5}$/gi.test(window.location.pathname)) {
    document.querySelector('header').remove();
  }

  document.querySelector('header #search .mobile-close').onclick = () => {
    search.classList.remove('show');
  }

  document.querySelector('header #mobile-search').onclick = () => {
    search.classList.add('show');
  };
</script>