<main id="homepage">
  <section id="homepage-header">
    <div class="container">
      <div id="logo">
        {{#link 'help_center'}}
          <img src="//inc2.inc.com/img/Inc-logo-black.svg">
          <span>Help Center</span>
        {{/link}}
      </div>

      <div id="search">
        <span>How can we help you?</span>
        <section class="search-box">
          <form accept-charset="UTF-8" action="/hc/en-us/search" class="search" method="get" role="search">
            <div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
            <input id="query" name="query" placeholder="Search" type="search" />
            <button>
              <img src="https://img-cdn.inc.com/image/upload/v1607626087/inc-hosted-images/Zendesk%20Help%20Center%20-%20Search%20Icon.svg" />
            </button>
          </form>
        </section>
      </div>
    </div>
  </section>

  <div class="container">
    <section class="featured-categories">
      <h2>FEATURED CATEGORIES</h2>

      <div class="categories">
        <div class="treadmill">
          <div class="category"><div style="width: 160px; height: 95px; background: #888888;"></div></div>
          <div class="category"><div style="width: 160px; height: 95px; background: #888888;"></div></div>
          <div class="category"><div style="width: 160px; height: 95px; background: #888888;"></div></div>
        </div>
      </div>

      <div class="scrollbar">
        <div class="scrollbar-thumb"></div>
      </div>
    </section>

    <section class="all-categories">    
      <div class="categories">
        <div id="loading">Loading...</div>
        <script>
          $(function() {
            var categories = [
              {{#each categories}}
                {
                  name: '{{name}}',
                  url: '{{url}}',
                  sections: [
                    {{#each sections}}
                      {
                        name: '{{name}}',
                        url: '{{url}}'
                      }

                      {{#unless @last}},{{/unless}}
                    {{/each}}
                  ]
                }
                
                {{#unless @last}},{{/unless}}
              {{/each}}
            ];

            for (i = 0; i < categories.length; i++) {
              if ((i % 3) === 0) {
                var entries = '';

                for (j = i; j < i + 3; j++) {
                  if (categories[j].sections) {
                    var sections = '';
                    var length = categories[j].sections.length < 3 ? categories[j].sections.length : 3;

                    for (k = 0; k < length; k++) {
                      sections += `
                        <li>
                          <a href="${categories[j].sections[k].url}">${categories[j].sections[k].name}</a>
                        </li>
                      `;
                    }
                  }

                  entries += `
                    <div class="category">
                      <h3>
                        <a href="${categories[j].url}">${categories[j].name}</a>
                      </h3>

                      <ul>${sections}</ul>
                    </div>
                  `;
                }

                $('section.all-categories .categories').append(`<div class="row">${entries}</div>`);
              }
            }

            $('#loading').remove();
          });
        </script>
      </div>
    </section>
  </div>
</main>

<button id="contact-us">
  Contact Us
  <a href="mailto:care@fastcompany.com"></a>
</button>